@charset "UTF-8";

/*font style import*/
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');

#wrap {
display: flex;
flex-direction: column;
}

header, section, footer {
margin-top: auto;
}

header {
position: relative;
background: #fff;
width: 100%;
top: 0;
left: 0;
height: 80px;
box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

header .container {
display: block;
width: 1200px;
height: 80px;
line-height: 74px;
margin: 0 auto;
}

header .logo a, header ul li a {
font-family: 'Lexend Deca', sans-serif;
}

.logo {
width: auto;
height: 5vh;
line-height: 3;
background: #000;
text-align: center;
vertical-align: middle;
padding: 0 20px;
display: inline-block;
}

.logo a {
display: block;
color: #fff;
font-size: 18px;
}

header nav {
vertical-align: middle;
display: inline-block;
}

header nav ul {
text-align: center;
}

header nav ul li {
width: auto;
display: inline-block;
padding: 0px 2vh;
display: inline;
}

header nav ul li a {
display: block;
font-size: 16px;
color: #666;
display: inline-block;
}

section .box{
width: 1200px;
margin:0 auto;
}

section .box + .box{
margin-top: 10vh;
}

section .box h2.title{
font-size:45px;
line-height: 1.2;
margin: 60px 0 0;
}

.swiper-container{
width:100%;
height: 100%;
margin:40px 0;
overflow: visible;
}

.swiper-slide{
text-align: center;
font-size: 18px;
background: #fff;
width: 80%;
height:310px;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
border-radius:30px;
}

/*arrow button 숨김처리*/
.swiper-button-next, .swiper-button-prev { top: -66px; width: 45px; height: 45px; background-color: #fff; box-shadow: 0 5px 15px rgba(0,0,0,0.05); background-image: none; font-size: 23px; text-align: center; line-height: 45px; color: #666; display:none;}
.swiper-button-prev{ right: 62px; left: auto; }
.swiper-button-next{ right: 0; }

/*slide pagenation style*/
.swiper-container .swiper-pagination{
bottom: auto;
left: auto;
top: -22%;
right: 1%;
text-align: right;
}

.swiper-container .swiper-pagination-bullet{
width: 13px;
height: 13px;
margin: 0 5px !important;
opacity: 0.1;
}

.swiper-container .swiper-pagination-bullet-active{
opacity: 1;
background: #000;
}

.swiper-slide{
width: 380px;
box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/*slide bg style*/
.slide4 .swiper-slide .con .title{
font-family: 'Jua', sans-serif;
color:#fff;
font-size: 23px;
}

.slide4 .swiper-slide{
background: rgb(2,84,246);
background: linear-gradient(140deg, rgba(2,84,246,1) 0%, rgba(0,255,171,1) 100%);
}

.slide4 .swiper-slide:first-child {
background: rgb(255,6,96);
background: linear-gradient(140deg, rgba(255,6,96,1) 0%, rgba(253,186,141,1) 100%);
}

.slide4 .swiper-slide:nth-child(2){
background: rgb(0,253,255);
background: linear-gradient(140deg, rgba(0,253,255,1) 0%, rgba(243,231,47,1) 100%);
}

.slide4 .swiper-slide:nth-child(3){
background: rgb(17,107,221);
background: linear-gradient(140deg, rgba(17,107,221,1) 0%, rgba(165,45,218,1) 100%);
}

.slide4 .swiper-slide:nth-child(4){
background: rgb(248,42,29);
background: linear-gradient(140deg, rgba(248,42,29,1) 0%, rgba(255,233,52,1) 100%);
}

.slide4 .swiper-slide:nth-child(5){
background: rgb(66,29,169);
background: linear-gradient(140deg, rgba(66,29,169,1) 0%, rgba(0,195,255,1) 100%);
}

.slide4 .swiper-slide:nth-child(6){
background: rgb(77,64,214);
background: linear-gradient(140deg, rgba(77,64,214,1) 0%, rgba(248,14,109,1) 100%);
}

.slide4 .swiper-slide:nth-child(7){
background: rgb(250,0,87);
background: linear-gradient(140deg, rgba(250,0,87,1) 0%, rgba(39,198,253,1) 100%);
}

.slide4 .swiper-slide:nth-child(8){
background: rgb(150,35,139);
background: linear-gradient(140deg, rgba(150,35,139,1) 0%, rgba(5,253,252,1) 100%);
}

footer {
background: #fafafa;
padding: 50px 0;
text-align: center;
font-size: 12px;
color: #666;
margin-top: 10vh;
}
